@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: LapsusProBold;
    src: url("fonts/LapsusPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: Sniglet-ExtraBold;
    src: url('fonts/Sniglet-ExtraBold.ttf') format('opentype');
}

.hidden {
    display: none !important;
}

body, #app {
    width: 100vw;
    min-height: 100vh;
}

.modal {
    background-image: url('./images/info-panel-bg.png');
    border-color: #F9A29F;
}

.btn-game {
    background-image: url('./images/btn-long.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 159px;
    height: 48px;
    display: block;
    color: white;
}

.item.common {
    background-color: #65EDF3;
}

span.common {
    color: #65EDF3;
}

.item.rare {
    background-color: #BBDC3E;
}

span.rare {
    color: #BBDC3E;
}

.item.veryRare {
    background-color: #F099FF;
}

span.veryRare {
    color: #F099FF;
}

.item.legendary {
    background-color: #F6B777;
}
span.legendary {
    color: #F6B777;
}

#gameTitle {
    text-align: center;
    font-size: 80px;
    font-family: Sniglet-ExtraBold;
    color: #F9A29F;
    -webkit-text-stroke: 4px white;
    text-shadow:
        3px 3px 0 #ffe9f7,
        -1px -1px 0 #ffe9f7,  
        1px -1px 0 #ffe9f7,
        -1px 1px 0 #ffe9f7,
        1px 1px 0 #ffe9f7;
}
